// HEADERS
h1,
h2,
h3,
h4,
h5,
h6 {
	@include fontsize(rem,2.5);
	@include lineheight(rem,1);
	font-weight: bold;
}
h1 {
	@include fontsize(rem,3.5);
	@include lineheight(rem, (3.5 * 1.2) );
}
h2 {
	@include fontsize(rem,2.5);
	@include lineheight(rem, (2.5 * 1.2) );
}
h3 {
	@include fontsize(rem,2);
	@include lineheight(rem, (2 * 1.2) );
}
h4 {
	@include fontsize(rem,1.5);
	@include lineheight(rem, (1.5 * 1.2) );
}
h5 {
	@include fontsize(rem,1.25);
	@include lineheight(rem, (1.25 * 1.2) );
}
h6 {
	@include fontsize(rem,1);
	@include lineheight(rem, (1 * 1.2) );
}

// PARAGRAPHS
p {
	margin-bottom: 1em;
	&:last-child {
		margin-bottom: 0;
	}
}

// LINKS
a {
	color: $link-color;
	text-decoration: none;
	padding: .5rem;
	margin: -.5rem;
	&:visited {
		color: darken($link-color, 5%);
	}
	&:hover,
	&:focus {
		color: darken($link-color, 15%);
		text-decoration: underline;	
	}
	&:active {
		color: darken($link-color, 20%);
	}
	&.active {
		background-color: #EFEFEF;
		padding: .25rem;
		margin: -.25rem;
		text-decoration: none;
		color: #888;
		border-radius: 3px;
		&:hover {
			cursor: default;
			color: #888;
		}
	}
}

// LISTS
ul > ul,
li > ul {
	margin-left: 1em;
}
ul + ul,
ol + ul,
ul + ol,
ol + ol {
	margin-top: 1em;
}
ol {
	&.decimal {
		list-style-type: decimal;
		margin-left: 30px;
	}
	&.circle {
		list-style-type: circle;
		margin-left: 30px;
	}
	&.disc {
		list-style-type: disc;
		margin-left: 30px;
	}
	&.lower-alpha {
		list-style-type: lower-alpha;
		margin-left: 30px;
	}
}
ul,
ol {
	&.inline {
		@include clear;
		> li {
			display: inline-block;
			float: left;
			padding: 0 1rem;
			border-left: 1px solid #EFEFEF;
			&:first-child {
				padding-left: 0;
				border-left: none;
			}
			&:last-child {
				padding-right: 0;
			}
		}
	}
}

// BUTTONS
button {
	background-color: lighten($base-color, 65%);
	border: none;
	border-radius: 3px;
	padding: 2px 8px;
	font-size: $em;
	cursor: pointer;
	&:focus,
	&:hover {
		background-color: lighten($base-color, 55%);
	}
	&:active {
		background-color: lighten($base-color, 50%);
		position: relative;
		top:1px;
	}
	&.primary {
		background-color: $primary-color;
		&:focus,
		&:hover {
			background-color: darken($primary-color, 10%);
		}
		&:active {
			background-color: darken($primary-color, 20%);
		}
	}
}

// FORMS
input,
textarea {
	border: 1px solid lighten($base-color, 65%);
	font-size: $em;
	box-sizing: border-box;
}
textarea {
	vertical-align: top;
}

// OTHERS
strong {
	font-weight: 500;
}
em {
	font-style: italic;
}
hr {
	height: 1px;
	border: none;
	background-color: lighten($base-color, 65%);
}
blockquote {
	margin-left: 20px;
	border-left: 2px solid lighten($base-color, 65%);
	padding: 5px 0 5px 10px;	
}
small, 
sub,
sup {
	font-size: $small-font-size;
}
sub {
	vertical-align: sub;
}
sup {
	vertical-align: super;
}