// set up the base column
.content,
.col,
header,
footer {
	width: $pgWidth;
	vertical-align: top;
	padding: .5rem 1rem;
	@include box(bb);
}

@mixin float($a: left) {
	@if $a == l {
		$a: left;
		float: $a;
	} @else if $a == r {
		$a: right;
		float: $a;
	} @else if $a == m {
		margin: auto;
	}
}

// rows
.content {
	.row {
		width: $pct;
		@include clear;
		> [class*="col"] {
			display: inline-block;
			float: left;
			vertical-align: top;
			@include box(bb);
		}

		$w: 12;
		@while $w > 0 {
			.col#{$w} {
				width: (($pct / 12) * $w);
			}
			$w: $w - 1;
		}		
	}
}

@media (max-width : 768px) {
	.content {
		.row {
			> [class*="col"] {
				width: 100%;
			}
		}
	}
}
@media (max-width : 320px) {
	.content {
		.row {
			> [class*="col"] {
				width: 100%;
			}
		}
	}
}