

// FONT STUFF
@mixin fontfamily($ff) {
  @if $ff == georgia {
    font-family: Georgia, serif;
  } @else {
    font-family: Helvetica, Arial, sans-serif;
  }
}

@mixin fontsize($n: 1.6) {
  font-size: ($n * 10) + px;
  font-size: $n + em;
  font-size: $n + rem;
}

@mixin lineheight($n: 1.6) {
  line-height: ($n * 10) + px;
  line-height: $n + em;
  line-height: $n + rem;
}

// BORDER RADIUS
@mixin rad($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}