.example .box {
	padding: 10px;
	margin: 0;
	background-color: #ccc;
	border: 1px inset #000;
	box-sizing: border-box;
	display: inline-block;
	float: left;
}
.content {
	margin-bottom: 100px;
}

footer {
	text-align: center;
	position: fixed;
	bottom: 0;
	background-color: #FFF;
}
footer:before {
	content: " ";
	height: 10px;
	position: absolute;
	top: -10px;
	left: 0;

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background:    -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background:      -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background:     -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* IE10+ */
background:         linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

	width: 100%;
	display: block;
	background-color: transparent;
}