// set up the base column
.content,
.col,
header,
footer, {
	width: @pgWidth;
	vertical-align: top;
	box-sizing: border-box;
}

// column alignment
.dir(@dir: @x) {
	.@{dir} {
		header,
		footer,
		.content,
		[class*="col"],
		.row {
			float: @dir;
		}
	}
}
.dir(left);
.dir(right);
.center {
	header,
	footer,
	.content,
	[class*="col"],
	.row {
		margin: auto;
	}
}
// rows
.content {
	display: table;
	.row {
		display: table-row;
		width: @pct;
		> [class*="col"] {
			display: table-cell;
		}
		> .col1 {
			min-width: 100px;
			width: (@pct * .1);
		}
		> .col2 {
			min-width: 125px;
			width: (@pct * .2);
		}
		> .col3 {
			min-width: 150px;
			width: (@pct * .3);
		}
		> .col4 {
			min-width: 200px;
			width: (@pct * .4);
		}
		> .col5 {
			min-width: 250px;
			width: (@pct * .5);
		}
		> .col6 {
			min-width: 300px;
			width: (@pct * .6);
		}
		> .col7 {
			min-width: 300px;
			width: (@pct * .7);
		}
		> .col8 {
			min-width: 350px;
			width: (@pct * .8);
		}
		> .col9 {
			min-width: 350px;
			width: (@pct * .9);
		}
		> .col10 {
			min-width: 500px;
			width: @pct;
		}
	}
}