.col {
	display: block;
	width: @pgWidth;
}

.left {
	.col,
	.row {
		float: left;
	}
}
.right {
	.col,
	.row {
		float: right;
	}
}
.center {
	.col,
	.row {
		margin: auto;
	}
}

.row {
	display: table;
	width: @pgWidth;
	> .lay {
		display: table-row;
		> .col {
			display: table-cell;
			width: 100%;
		}
		&.one {
			> .col {
				&:nth-child(1) {
					width: 10%;
				}
				&:nth-child(2) {
					width: 90%;
				}
			}
		}
		&.two {
			> .col {
				&:nth-child(1) {
					width: 20%;
				}
				&:nth-child(2) {
					width: 80%;
				}
			}
		}
		&.three {
			> .col {
				&:nth-child(1) {
					width: 30%;
				}
				&:nth-child(2) {
					width: 70%;
				}
			}
		}
		&.four {
			> .col {
				&:nth-child(1) {
					width: 40%;
				}
				&:nth-child(2) {
					width: 60%;
				}
			}
		}
		&.five {
			> .col {
				&:nth-child(1),
				&:nth-child(2) {
					width: 50%;
				}
			}
		}
	}
}