/* RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* JELLY */
html,
body {
  font-family: Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: 1em;
  width: 100%;
}
.col,
header,
footer {
  width: 80%;
  vertical-align: top;
  box-sizing: border-box;
}
.left header,
.left footer,
.left .col,
.left .row {
  float: left;
}
.right header,
.right footer,
.right .col,
.right .row {
  float: right;
}
.center header,
.center footer,
.center .col,
.center .row {
  margin: auto;
}
.row {
  display: table;
  width: 80%;
}
.row > .lay {
  display: table-row;
}
.row > .lay > .col,
.row > .lay header,
.row > .lay footer {
  display: table-cell;
}
.row > .lay.one > .col:nth-child(1) {
  min-width: 100px;
  width: 10%;
}
.row > .lay.one > .col:nth-child(2) {
  width: 90%;
}
.row > .lay.two > .col:nth-child(1) {
  min-width: 125px;
  width: 20%;
}
.row > .lay.two > .col:nth-child(2) {
  width: 80%;
}
.row > .lay.three > .col:nth-child(1) {
  min-width: 150px;
  width: 30%;
}
.row > .lay.three > .col:nth-child(2) {
  width: 70%;
}
.row > .lay.four > .col:nth-child(1) {
  min-width: 175px;
  width: 40%;
}
.row > .lay.four > .col:nth-child(2) {
  width: 60%;
}
.row > .lay.five > .col:nth-child(1),
.row > .lay.five > .col:nth-child(2) {
  min-width: 200px;
  width: 50%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1em;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.75em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1.25em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
p:last-child {
  margin-bottom: 0;
}
a {
  color: #ff7f24;
  text-decoration: none;
}
a:visited {
  color: #ff700a;
}
a:hover,
a:focus {
  color: #d65900;
  text-decoration: underline;
}
a:active {
  color: #bd4f00;
}
ul > ul,
li > ul {
  margin-left: 1em;
}
ul + ul,
ol + ul,
ul + ol,
ol + ol {
  margin-top: 1em;
}
ol.decimal {
  list-style-type: decimal;
  margin-left: 30px;
}
ol.circle {
  list-style-type: circle;
  margin-left: 30px;
}
ol.disc {
  list-style-type: disc;
  margin-left: 30px;
}
ol.lower-alpha {
  list-style-type: lower-alpha;
  margin-left: 30px;
}
button {
  background-color: #d9d9d9;
  border: none;
  border-radius: 3px;
  padding: 2px 8px;
  font-size: 1em;
  cursor: pointer;
}
button:focus,
button:hover {
  background-color: #bfbfbf;
}
button:active {
  background-color: #b3b3b3;
  position: relative;
  top: 1px;
}
button.primary {
  background-color: #7ccd7c;
}
button.primary:focus,
button.primary:hover {
  background-color: #57bf57;
}
button.primary:active {
  background-color: #3fa43f;
}
input,
textarea {
  border: 1px solid #d9d9d9;
  font-size: 1em;
  box-sizing: border-box;
}
textarea {
  vertical-align: top;
}
hr {
  height: 1px;
  border: none;
  background-color: #d9d9d9;
}
blockquote {
  margin-left: 20px;
  border-left: 2px solid #d9d9d9;
  padding: 5px 0 5px 10px;
}
small,
sub,
sup {
  font-size: 0.6em;
}
sub {
  vertical-align: sub;
}
sup {
  vertical-align: super;
}
